body{
  display: flex;
  flex-direction: column;
  /* background-repeat: no-repeat; */
  /* background-image: url("https://images.pexels.com/photos/3184357/pexels-photo-3184357.jpeg?auto=compress&cs=tinysrgb&w=800"); */

  background-image: linear-gradient(90deg, rgba(100,100,280,0.5), rgba(107,107,189,0.9)), url(https://images.pexels.com/photos/3184357/pexels-photo-3184357.jpeg?auto=compress&cs=tinysrgb&w=800);
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
 
}
#survey-form{
  margin: 0 auto;
  background-color: blue;
  padding: 40px;
}
.radio-form{
  display: flex;
  flex-direction: column;
}
#description{
  margin-top: 0;
  /* background-color: aquamarine; */
  
  /* margin-bottom: 0; */
  /* margin: 0 0; */
}
#title{
  text-transform: capitalize;
}
.name{
  width: 95%;
  height: 30px;
  border-radius: 5px;
  /* text-transform: capitalize; */
}
.form1{
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.nameSelect{
  width: 95%;
  height: 35px;
  text-transform: capitalize;
  font-size: 15px;
  margin-bottom: 30px;
  border-radius: 5px;

}
.form{
  margin-bottom: 10px;
  text-transform: capitalize;
  
}
#textarea{
  width: 95%;

}
#submit{
  width: 95%;
  margin-top: 20px;
  height: 40px;
  background-color: rgb(54, 52, 108);
  border: none;
  color: white;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: bold;
  font-family: sans-serif;

} 